body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f5;
    color: #1f2d2a;
}

/* Header */
header {
    background-color: #1f4037;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #2e5d50;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #dfe9e3, #ffffff);
}

/* Content Section */
section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* Cards */
.card {
    background: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f4037;
    color: white;
}
.banner {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DARK OVERLAY */
.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

/* TEXT */
.banner-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
}

/* DIFFERENT IMAGES FOR EACH PAGE */
.home-banner {
    background: url('homee.jpg') center/cover no-repeat;
}

.about-banner {
    background: url('aboot.jpg') center/cover no-repeat;
}

.obs-banner {
    background: url(observation.jpg') center/cover no-repeat;
}
button {
    padding: 10px 20px;
    background-color: #2e5d50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1f4037;
}
